<section class="m-6">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">
        Listado de Personas
    </h1>
    <!-- <a class="mr-2 group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500 mt-6"
        routerLink="add">Nueva Persona
        <svg class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400 dark:text-slate-500 dark:group-hover:text-slate-400"
            width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="M0 0L3 3L0 6"></path>
        </svg>
    </a> -->
    <a class="mr-2 cursor-pointer group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500 mt-6"
        (click)="openModal()">Registrar Persona
        <svg class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400 dark:text-slate-500 dark:group-hover:text-slate-400"
            width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="M0 0L3 3L0 6"></path>
        </svg>
    </a>
</section>
<ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-quartz" [rowData]="persons()"
    [columnDefs]="colDefs" [localeText]="locale_text" [pagination]="true" (gridReady)="onGridReady($event)" />