/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

@import 'ngx-toastr/toastr';

.presents {
    background-color: #dedcdc;
    border-radius: 10px;
    padding: 0 1em;
    margin: 0 1rem;
}

.checked {
    text-decoration: line-through;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
