/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.presents {
    background-color: #dedcdc;
    border-radius: 10px;
    padding: 0 1em;
    margin: 0 1rem;
}

.checked {
    text-decoration: line-through;
}